* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

html,
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[role='button'] {
  cursor: pointer;
}
